# Spring PetClinic Automation Test Requirements

# Test Framework
playwright==1.48.0
pytest==8.3.3
pytest-playwright==0.6.2
pytest-html==4.1.1
pytest-json-report==1.5.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0
